.reveal .slides section .over-webrtc {
  width: 300px;
  margin-left: 446px;
  border-top: 3px solid rgb(34, 34, 34);
}

.reveal .slides section .fragment.mygrow.visible {
  font-size: 80px;
  font-weight: bold;
}

.reveal .slides section .fragment.inplace {
  display:none;
}
.reveal .slides section .fragment.inplace.visible {
  display:inline;
}
