/*********************************************
 * BRAZILJS
 *********************************************/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none !important;
    font-style: italic;
    color: #000 !important;
 }

 .white h1, .white h2, .white h3, .white h4, .white h5, .white h6, .white ul li {
    text-transform: none !important;
    font-style: italic;
    color: #fff !important;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000 !important;
 ]}

.white .fragment {
  color: #FFF;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000 !important;
}

.reveal section img {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.clearboth {
	clear: both;
}

.capa .topo,
.capa .footer {
  display: none;
}

.slide-capa {
	height: 400px;
}

.academia-capa {
	position: absolute;
	bottom: 0;
	left: 50px;
}

.tecnologia-capa {
	position: absolute;
	bottom: 0;
	right: 50px;
}

.slogan-box {
	background-color: #000;
	color: #fff;
	padding: 20px 40px 30px !important;
	margin: 20px 0 0 !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 900 !important;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: -1px;
	-ms-transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
}

.box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 30px !important; 
  display: inline-block;
  border-radius: 5px;
}

.topo {
  position: absolute;
  width: 100%;
  /*background: url("../bg-devolta.jpg") -17px -175px no-repeat transparent;*/
  padding: 15px !important;
  z-index: 2;
}

.topo .header {
  background: url("../assets/header.png") 0 0 no-repeat transparent;
  width: 534px; 
  height: 49px;
  margin: 10px;
}

.topo .delorean {
  background: url("../assets/delorean.png") 0 0 no-repeat transparent;
  width: 302px;
  height: 78px;
  position: absolute;
  top: 18px;
  right: 30px;
}

.topo .slogan {
  font-size: 23px !important;
  font-weight: bold !important;
  margin: -2px 0 0 24px !important;
  font-style: italic !important;
}

.header-white .topo .slogan {
  color: #C1BFBF;
}

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
  width: 480px;
  z-index: 2;
  border-top-right-radius: 25px;
}

.academia {
  background: url("../assets/academia.jpg") 0 0 no-repeat transparent;
  width: 208px; 
  height: 81px;
  position: absolute;
  bottom: -15px;
  left: 10px;
  z-index: 2;
}

.tecnologia {
  background: url("../assets/tecnologia_globo.png") 0 0 no-repeat transparent;
  width: 317px; 
  height: 45px;
  background-size: 70% 70%;
  position: absolute;
  bottom: 10px;
  left: 265px;
  z-index: 2;
}

.circulo {
  position: absolute;
  left: 176px;
  top: -9px;
}

.voce .fragment.highlight-red.visible {
  color: #FC4C51 !important;
}

.round-border {
  border-radius: 5px;
}

.parte {
  color: #000;
  border: 6px solid #000 !important;
  background-color: #FFDE17;
  font-size: 70px !important;
  padding: 10px !important;
  border-radius: 50%;
  display: inline-block;
  width: 95px;
}

.fotos img {
  width: 470px;
  border-radius: 10px;
}

.fotos img.pano {
  width: 880px;
  border-radius: 10px;
}

.opacidade-fundo .backgrounds {
  opacity: 0.3;
}

.reveal .slides section .over-webrtc {
  width: 300px;
  margin-left: 446px;
  border-top: 3px solid rgb(34, 34, 34);
}

.reveal .slides section .fragment.mygrow.visible {
  font-size: 80px;
  font-weight: bold;
}

.reveal .slides section .fragment.inplace {
  display:none;
}
.reveal .slides section .fragment.inplace.visible {
  display:inline;
}

.reveal .slides section .part {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #F8DC3D;
  margin: 0 auto;
}

.reveal .slides section .part .number {
  position: absolute;
  font-weight: bold;
  bottom: -15px;
  right: 15px;
  font-size: 120px;
  color: #2E2E2C;
}

.slide-background .move-ass {
  background-position: 400px -350px;
}